body {
  --dg-content-max-width: 850px;  /* Wider content */
  --dg-content-font-size: 17px;   /* Bigger text */
}

.wide .content {
  max-width: calc(100vw - 250px) !important;
}
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
